In [6]:
import gzip
import pandas as pd
import urllib.request

In [2]:
pd.__version__

'1.5.2'

In [10]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2020-01.csv.gz"
file_name_gz = "yellow_tripdata_2020-01.csv.gz"
file_name_csv = "yellow_tripdata_2020-01.csv"

urllib.request.urlretrieve(url, file_name_gz)

with gzip.open(file_name_gz, 'rb') as f_in:
    with open(file_name_csv, 'wb') as f_out:
        f_out.write(f_in.read())

df = pd.read_csv(file_name_csv)

C:\Users\jraldua-veuthey\AppData\Local\Temp\ipykernel_1076\968316404.py:11: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_name_csv)

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [33]:
df = pd.read_csv(file_name_csv, nrows=100)

In [34]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [35]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) # convert to datetime
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime) # convert to datetime

In [39]:
from sqlalchemy import create_engine # database connection

In [40]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [41]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
df_iter = pd.read_csv(file_name_csv, iterator=True, chunksize=100000)

In [43]:
df_iter

In [44]:
df = next(df_iter)

In [45]:
len(df)

100000

In [46]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [47]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1,1.2,1,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1,1.2,1,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1,0.6,1,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1,0.8,1,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2020-01-01 14:08:46,2020-01-01 14:19:08,3,1.7,1,N,186,162,2,9.0,2.5,0.5,0.00,0.0,0.3,12.30,2.5
99996,1,2020-01-01 14:21:39,2020-01-01 14:25:46,2,0.9,1,N,229,141,1,5.0,2.5,0.5,1.65,0.0,0.3,9.95,2.5
99997,1,2020-01-01 14:38:26,2020-01-01 14:42:29,1,0.8,1,N,263,75,1,5.0,2.5,0.5,0.83,0.0,0.3,9.13,2.5
99998,1,2020-01-01 14:48:55,2020-01-01 14:58:39,1,1.4,1,N,236,161,1,9.0,2.5,0.5,1.70,0.0,0.3,14.00,2.5
99999,1,2020-01-01 14:19:07,2020-01-01 14:36:15,1,12.5,1,N,132,64,1,34.5,0.0,0.5,7.05,0.0,0.3,42.35,0.0

In [48]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace') # this creates the table in the database with only the heders (since n=0)

0

In [ ]:
# check if table exists in the database in the terminal:
# pgcli -h  localhost -p 5432 -u root -d ny_taxi
# \dt

In [49]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append') # this appends the data to the table
# %time is a magic function that measures the time it takes to run the cell

CPU times: total: 3.39 s
Wall time: 8.43 s

1000

In [ ]:
# in the terminal inside the database do:
# SELECT count(1) FROM yellow_taxi_data;

In [50]:
from time import time

In [51]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 9.076 second
inserted another chunk, took 9.350 second
inserted another chunk, took 10.368 second
inserted another chunk, took 9.741 second
inserted another chunk, took 8.834 second
inserted another chunk, took 9.710 second
inserted another chunk, took 9.765 second
inserted another chunk, took 13.841 second
inserted another chunk, took 15.276 second
inserted another chunk, took 9.420 second
inserted another chunk, took 9.178 second
inserted another chunk, took 9.344 second
inserted another chunk, took 10.489 second
inserted another chunk, took 11.128 second
inserted another chunk, took 12.143 second
inserted another chunk, took 11.711 second
inserted another chunk, took 10.386 second
inserted another chunk, took 9.229 second
inserted another chunk, took 8.793 second
inserted another chunk, took 9.121 second
inserted another chunk, took 11.508 second
inserted another chunk, took 10.480 second
inserted another chunk, took 9.298 second
inserted another chunk, took 10.028 second
inserted another chunk, took 9.118 second
inserted another chunk, took 11.691 second
inserted another chunk, took 9.511 second
inserted another chunk, took 9.662 second
inserted another chunk, took 9.055 second
inserted another chunk, took 9.424 second
inserted another chunk, took 9.784 second
inserted another chunk, took 9.435 second
inserted another chunk, took 11.650 second
inserted another chunk, took 10.492 second
inserted another chunk, took 9.055 second
inserted another chunk, took 11.032 second
inserted another chunk, took 9.884 second
inserted another chunk, took 8.974 second
inserted another chunk, took 9.144 second
inserted another chunk, took 10.464 second
inserted another chunk, took 9.377 second
inserted another chunk, took 9.968 second
inserted another chunk, took 8.864 second
inserted another chunk, took 8.449 second
inserted another chunk, took 8.545 second
inserted another chunk, took 9.737 second
inserted another chunk, took 9.910 second
inserted another chunk, took 9.865 second
inserted another chunk, took 8.935 second
inserted another chunk, took 8.752 second
inserted another chunk, took 9.129 second
inserted another chunk, took 9.447 second
inserted another chunk, took 8.585 second
inserted another chunk, took 8.879 second
inserted another chunk, took 8.758 second
inserted another chunk, took 9.100 second
inserted another chunk, took 8.483 second
inserted another chunk, took 11.759 second
inserted another chunk, took 10.111 second
inserted another chunk, took 8.747 second
inserted another chunk, took 9.836 second
inserted another chunk, took 9.136 second

C:\Users\jraldua-veuthey\AppData\Local\Temp\ipykernel_1076\2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.484 second
inserted another chunk, took 0.424 second

StopIteration: